{% extends "::back.html.twig" %}
{% block recharge %}

 {{ form (form)}}
 {# <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container"> #}

                        <!-- Page-Title -->
                          

                        <div class="row">
                            <div class="col-md-12 portlets">
                                <!-- Your awesome content goes here -->
                                <div class="m-b-30">
                                    <form action="#" class="dropzone" id="dropzone">
                                      <div class="fallback">
                                        <input name="file" type="file" multiple="multiple" >
                                      </div>
                                    </form>
                                </div>
                            </div>                            
                        </div>
            <div class="row">
            <div class="col_md-12">
            <input type="submit"name="submit" value="Enregistrer"class="btn btn-primary" style="margin-left:70%;">
            <input type="submit"name="submit" value="Annuler"class="btn btn-primary" style="margin-left:10px;">
            </div>
            </div>
                        <!-- end row -->


 {% endblock %}