{% extends "::layout.html.twig" %}
 
{% block title %}GSTImmobilierBundle:Front:reserver{% endblock %}
{# {% block content %}{% endblock %} #}
{% block body %}
<style >
{# form{
  width:200px;
  margin-left:300px;
   
} #}
</style>

<div class="jumbotron text-center">
  <h1>Immobilier De Luxe</h1>
  <p>Nous somme à votre service <em style="color:blue;">24h/24</em>!</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-5">
   {{ form (form)}}
  
    </div>

<div class="col-sm-5" id="contenu">
<form>
<label for="email"> Login</label>
<input type="text" value="" name="emailclient"><br>
<label for="pwd"> Password</label>
<input type="password" value="" name="password">
</form>
</div>

        
      {% endblock %}

