{% extends "::layout.html.twig" %}
 
{% block title %}GSTImmobilierBundle:Front:reserver{% endblock %}
{# {% block content %}{% endblock %} #}
{% block body %}
<style >
{# form{
  width:200px;
  margin-left:300px;
   
} #}
</style>

<div class="jumbotron text-center" style="height:200px;">
  <h1>Immobilier De Luxe</h1>
  <p>Nous somme à votre service <em style="color:blue;">24h/24</em>!</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-5">
    <div class="card">
      <div class="card-header ">
       shfbfjkgd
      </div>
      <div class="card-body">
        <h4 class="card-title "> <b style="margin-left:200px;">S'inscrire</b></h4>
        <p class="card-text">  {{ form (form)}}</p>
      </div>
      <div class="card-footer text-muted">
        Footer
      </div>
    </div>
 
  
    </div>

<div class="col-sm-5" id="contenu">

<form action="" method="post">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

        
      {% endblock %}

