{% extends "::layout.html.twig" %}

{# {% block title %}Détail-produit{% endblock %} #}
{% block body %}
<div class="container">
    <h1 style="font-family:; color:grey"> Votre réservation a été prise en charge</h1>
    <h1>
</div>
{% endblock %}